@charset "utf-8";
/* CSS for menu-auto-display class */

/* Index and Tasks */
dl.menu-auto-display {
  padding: 0;
}
dl.menu-auto-display {
  border-top: 1px solid #eee;
  padding-top: 5px;
}
dl.menu-auto-display dt {
  background: url("images/tiny-circle.png") no-repeat scroll 2px center transparent;
  border-bottom: 0;
  font-weight: 400;
  line-height: 2;
  padding: 0 0 0 25px;
}

dl.menu-auto-display dd {
  border-bottom: 1px solid #eee;
  margin: 0 0 5px;
  padding: 0 0 15px 25px;
  color: #777;
}
